{
  "presets": ["es2015"],
  "plugins": [
    "transform-strict-mode",
    "transform-es2015-parameters",
    "transform-es2015-destructuring",
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-es2015-spread",
    "transform-export-extensions"
  ]
}
